@font-face {
  src: url("../fonts/Avenir Heavy.ttf");
  font-family: Avenir-Heavy,sans-serif;
}
@font-face{
  src: url("../fonts/AvenirLTStd-Roman.otf");
  font-family: Avenir-Roman,sans-serif;
}
*{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Avenir-Heavy, sans-serif;
}
body{
  padding: 0 20px;
  .header{

    font{
      display: inline-block;
      margin-top: 30px;
      color: #00B3EF;
      font-size: 18px;
    }
    ul{
      margin-top: 30px;
      float: right;
      display: flex;
      flex-wrap: wrap;
      margin-right: 3vw;
      li{
        margin-left: 3vw;
        outline: none;

        a{
          color: #000000;
          font-size: 16px;
          outline: none;
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
    .showmenu{
      display: none;
      .product-menu{
        position: absolute;
        display: flex;
        text-align: center;
        width: 10%;
        margin: auto;
        border: thin solid #00B3EF;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        background: black;
        z-index: 10;
        li{
          margin: 0.2vw 1.5vw 0 0;
          width: 100%;
          a{
            color: white;
            font-size: 16px;
            &:hover{

            }
          }
        }
      }
    }

  }
  .container{
    h1{
      text-align: center;
      font-size: 45px;
    }
    .tab-span1{
      display: block;
      text-align: center;
      margin-top: 20px;
      font-size: 16px;
      color: #696969;
    }
    .tab-span2{
      display: block;
      text-align: center;
      width: 35%;
      margin:20px auto 0;
      font-size: 20px;

    }
    .piplist
    {
      box-shadow: 0 2px 2px 0 #979797;
      margin-left: 12%;
      float: left;
      margin-top: 50px;
      width: 30%;
      height: 175px;
      display: flex;
      align-items: center;
      .imgarea{
        width: 30%;
        background-color: #001423;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .test{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        span{
          display: block;
          margin-left: 1vw;
          margin-top: 0.5vw;
          &:nth-child(1){
            font-size: 26px;
          }
          &:nth-child(2){
            font-size: 20px;
          }
          &:nth-child(3){
            background-color: #C1F9D0;
            border-radius: 10px;
            padding: 0 1vw;
            font-size: 12px;
            height: 16px;
            line-height: 18px;
          }
        }


      }

    }
    .piplist2
    {
      box-shadow: 0 2px 2px 0 #979797;
      margin-left: 12%;
      float: left;
      margin-top: 50px;
      width: 30%;
      height: 175px;
      display: flex;
      align-items: center;
      .imgarea{
        width: 30%;
        background-color: #FEA50C;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .test{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        span{
          display: block;
          margin-left: 1vw;
          margin-top: 0.5vw;
          &:nth-child(1){
            font-size: 26px;
          }
          &:nth-child(2){
            font-size: 20px;
          }
          &:nth-child(3){
            background-color: #C1F9D0;
            border-radius: 10px;
            padding: 0 1vw;
            font-size: 12px;
            height: 16px;
            line-height: 18px;
          }
        }
      }
    }

    .research{
      margin-top: 400px;
      h1{
        text-align: center;
        font-size: 45px;
      }
      .tab-span1{
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
        color: #696969;
      }
      .tab-span2{
        display: block;
        text-align: center;
        width: 35%;
        margin:20px auto 0;
        font-size: 20px;
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        margin:30px auto 0;
        width: 50%;
        justify-content: center;
        align-items: center;
        li{
          margin: 0 20px;
        }
      }
    }
  }
  @media screen and(max-width: 768px) {
    .header{
      font{
        display: none;
      }
      ul{
        position: absolute;
        left: 0;
      }

    }
    .container{
      position: absolute;
      top:10vw;
      .piplist{
        width: 100%;
        float: right;
      }
      .piplist2{
        width: 100%;
        float: right;
      }
    }
  }
  @media screen and(max-width: 500px) {
    .container{
      .piplist{
        width: 100%;
        float: right;
      }
      .piplist2{
        width: 100%;
        float: right;
      }
    }
  }
}